:host {
    cursor: pointer;
}

.component-node {
    align-items: center;
    background-color: white;
    border: solid 2px black;
    display: flex;
    font-family: monospace, sans-serif;
    justify-content: center;
    height: 26px;
    position: absolute;
    width: 26px;
}
